body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f5e3;
}
.Intro {
	color: #101d42;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #a599b5;
	border-radius: 4px;
	position: relative;
  	left: 30px;
	right: 30px;
	padding: 5px;
}

.Iteration{
	color: #a599b5;
}

.Projects{
	color: #0e79b2;
	border: 4px solid #A599B5;
	position: relative;
  	right: 50px;
	padding: 20px;
}
