body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f5e3;
}
.Intro {
	color: #101d42;
	text-align: center;
	border: 3px solid #0E79B2;
	border-radius: 8px;
	padding: 1px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 20px;
}

.Iteration{
	color: #a599b5;
}

.Projects{
	color: #101d42;
	text-align: center;
	border: 3px solid #0E79B2;
	border-radius: 8px;
	padding: 2px;
	margin-left: 280px;
	margin-right: 280px;
	margin-top: 20px;
}
