body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #101d42;
}
.Intro {
	color: #f9f5e3;
}

.Iteration{
	color: #748067;
}

.Projects{
	color: #0e79b2;
}
